<form id="newCommentForm">
    <div>
        <h2 class="form-control-lg">Enter comment here:</h2>
        <textarea class="form-control" id="newCommentFormInput">
        </textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<script src="/js/comment.js"></script>