<div class = "row-10">
    <a id="createBlogBtn" class="navlink"><button class="navBtn">Make a new post here: </button></a>
    <input style="color: darkgreen;"type="text" class = "col 12" id = "createPostInput">
</div>




{{#each userPosts}}
<h2 class="postTitle">{{this.title}}</h2>
<p class="postContent">
    {{this.content}}
    <br>
<div class="authorWrapper row 4">
    <i class="PostBy col-4 offset-lg-8 offset-md-7">
        <sm>{{make_date createdAt}}</sm>
    </i>
</div>
{{/each}}