<div class = "row-10">
    <a id="createBlogBtn" class="navlink"><button class="navBtn">Make new post to the blog: </button></a>\
    <input style="color: darkgreen;"type="text" class = "col 12" id = "creatBlogInput">
</div>

{{#each userPost}}
<h2 class="blogTitle">{{this.title}}</h2>
<p class="blogContent">
    {{this.content}}
    <br>
<div class="authorWrapper row 4">
    <i class="bogPostBy col-4 offset-lg-8 offset-md-7">
        <sm>{{make_date createdAt}}</sm>
    </i>
</div>
{{/each}}