<form id="newPostForm">
    <div>
        <h2 class="form-control-lg">Create a new post here:</h2>
        <input type="text" class="form-control" id="newPostTitleInput" placeholder="Enter Post Title">
    </div>
<br>
    <div>
        <h2 class="form-control-lg">Enter new post content here:</h2>
        <textarea class="form-control" id="newPostContentInput" placeholder="Enter Post Content">
        </textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
<br>
<br>
<div class="userPostArea">
    <h2 class="form-control-lg">
        Review, edit, or delete your posts here:
    </h2>
    <br>
    {{#each userPosts}}

    <h2 class="postTitle">
        {{this.title}}
    </h2>
        <p class="postContent">
            {{this.content}}
        </p>
            <br>
        <div class="authorWrapper row 4">
            <i class="PostBy col-4 offset-lg-8 offset-md-7">
                <sm>
                    {{make_date date_created}}
                </sm>
            </i>
        </div>
        <div class="commentEditBtns col-4 offset-lg-10 offset-md-9">
            <a href="#" class="editPost">
                <button type="button" class="btn btn-secondary">
                    Edit
                </button>
            </a>
            <a href="#" class="editPost">
                <button type="button" class="btn btn-danger">
                    Delete
                </button>
            </a>
        </div>
</div>
        
        {{/each}}

<script src='/js/dashboard.js'></script>