{{#each blogs}}
<h2 class="postTitle">{{this.title}}</h2>
<p class="postContent">
    {{this.content}}
    <br>
<div class="authorWrapper row 4">
    <i class="PostBy col-4 offset-lg-8 offset-md-7">
        <sm>{{user.username}}, {{make_date createdAt}}</sm>
    </i>
</div>
<script src="./js/home.js"></script>
{{/each}}
