<div id="logInForm" class="logInWrapper col-6 offset-4">
    <form class="row-12 login-form" >
        <h2>Login: </h2>
        <input id = "username-login" class="col-8"><sm>Username</sm><br>
        <input  id = "password-login" class="col-8"><sm>Password</sm>
        <div class="row-12">
            <a class="col-4"><button id = "logInPageBtn" class="navBtn signInBtn col-4">Log In</button></a>
        </div>
    </form>
</div>

<script src='/js/login.js'></script>

