<div id="signUpForm" class="signUpWrapper col-6 offset-4">
    <form class="row-12">
        <div class = "col 4">
        <h2>Sign Up Now!</h2>
        <input id = "signUpUser" class="col-8"><sm>create username</sm>
        <input id = "signUpPassword" class="col-8"><sm>create password</sm>
        </div>
        <div class="row-12">
            <a id = "signUpFormBtn" class="col-4"></a><button class="navBtn">Sign Up</button></a>
        </div>
    </form>
</div>



<script src='/js/signup.js'></script>
